* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
}

.logo h1{
    font-size:1rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #111;
}

.btn {
    text-decoration: none;
    padding: 0.9rem 1.4rem;
    border-radius: 8px;
    font-weight:600;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.btn:hover {
    opacity: 0.7;
}


.btn-primary {
    background: black;
    color: white;

}

.btn-secondary {
    border: 1px solid #ccc;
    color: black;
}

.footer {
    margin-top: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    border-top: 1px solid #ddd;
}

.footer-links {
    display: flex;
    gap: 1rem;
}

.footer-links a{
    text-decoration: none;
    color: #666;
}